USE [master]
GO
/****** Object:  Database [DevERP]    Script Date: 08-Nov-16 1:58:13 PM ******/
CREATE DATABASE [DevERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevERP', FILENAME = N'E:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\DevERP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DevERP_log', FILENAME = N'E:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\DevERP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevERP]
GO
/****** Object:  StoredProcedure [dbo].[UserAllInformation]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UserAllInformation] @loginId int 
as
select l.loginId,l.userName,l.password,u.userInfoId,u.name,u.email,u.phone,u.image,u.designation from Login as l join UserInfo as u on l.loginId=u.loginId where l.loginId = @loginId


GO
/****** Object:  Table [dbo].[Bank]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bank](
	[bankId] [int] IDENTITY(1,1) NOT NULL,
	[bankName] [varchar](50) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[bankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[itemName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[loginId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[type] [varchar](1) NOT NULL,
	[status] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[loginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Party]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Party](
	[partyId] [int] IDENTITY(1,1) NOT NULL,
	[partyName] [varchar](50) NOT NULL,
	[partyMobile] [varchar](15) NULL,
	[partyAddress] [varchar](200) NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[partyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubItem]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubItem](
	[subItemId] [int] IDENTITY(1,1) NOT NULL,
	[subItemName] [varchar](50) NOT NULL,
	[itemId] [int] NOT NULL,
 CONSTRAINT [PK_SubItem] PRIMARY KEY CLUSTERED 
(
	[subItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transactions](
	[transactionId] [int] IDENTITY(1,1) NOT NULL,
	[transactionDate] [date] NOT NULL,
	[itemId] [int] NOT NULL,
	[subItemId] [int] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transactionCatagory] [varchar](7) NOT NULL,
	[partyId] [int] NULL,
	[transactionType] [varchar](6) NOT NULL,
	[bankId] [int] NULL,
	[remarks] [varchar](200) NULL,
	[chequeStatus] [varchar](7) NULL,
	[lastModify] [datetime] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[userInfoId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](20) NULL,
	[image] [varchar](50) NULL,
	[designation] [varchar](30) NULL,
	[entryDate] [date] NULL,
	[loginId] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[userInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[GetAllTransaction]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[GetAllTransaction] as
select t.transactionId,t.transactionDate,t.itemId,i.itemName,t.subItemId,s.subItemName,t.amount,t.transactionCatagory,
t.partyId,p.partyName,t.transactionType,t.bankId,b.bankName,t.remarks,t.lastModify
from Transactions as t left outer join Item as i 
on t.itemId=i.itemId left outer join SubItem as s 
on t.subItemId=s.subItemId left outer join Bank as b 
on t.bankId=b.bankId left outer join Party as p 
on t.partyId=p.partyId
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([bankId], [bankName]) VALUES (3, N'Agroni Bank')
INSERT [dbo].[Bank] ([bankId], [bankName]) VALUES (8, N'Islami Bank')
SET IDENTITY_INSERT [dbo].[Bank] OFF
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([itemId], [itemName]) VALUES (8, N'Swing')
INSERT [dbo].[Item] ([itemId], [itemName]) VALUES (9, N'Cloth')
SET IDENTITY_INSERT [dbo].[Item] OFF
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([loginId], [userName], [password], [type], [status]) VALUES (12, N'yeasinmahi', N'arafat7218', N'd', N'v')
SET IDENTITY_INSERT [dbo].[Login] OFF
SET IDENTITY_INSERT [dbo].[Party] ON 

INSERT [dbo].[Party] ([partyId], [partyName], [partyMobile], [partyAddress]) VALUES (2, N'party2', N'01726608655', N'Comilla')
INSERT [dbo].[Party] ([partyId], [partyName], [partyMobile], [partyAddress]) VALUES (3, N'party1', N'01676272718', N'Dhaka')
SET IDENTITY_INSERT [dbo].[Party] OFF
SET IDENTITY_INSERT [dbo].[SubItem] ON 

INSERT [dbo].[SubItem] ([subItemId], [subItemName], [itemId]) VALUES (5, N'item 1', 8)
INSERT [dbo].[SubItem] ([subItemId], [subItemName], [itemId]) VALUES (7, N'item 3', 8)
SET IDENTITY_INSERT [dbo].[SubItem] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([transactionId], [transactionDate], [itemId], [subItemId], [amount], [transactionCatagory], [partyId], [transactionType], [bankId], [remarks], [chequeStatus], [lastModify]) VALUES (1, CAST(0x0C3C0B00 AS Date), 8, 5, CAST(12.00 AS Decimal(18, 2)), N'expence', 0, N'cash', 0, N'', NULL, CAST(0x0000A6A901868415 AS DateTime))
INSERT [dbo].[Transactions] ([transactionId], [transactionDate], [itemId], [subItemId], [amount], [transactionCatagory], [partyId], [transactionType], [bankId], [remarks], [chequeStatus], [lastModify]) VALUES (2, CAST(0x153C0B00 AS Date), 8, 7, CAST(123.00 AS Decimal(18, 2)), N'expence', 3, N'cheque', 3, N'test', N'Pass', CAST(0x0000A6B00116B799 AS DateTime))
INSERT [dbo].[Transactions] ([transactionId], [transactionDate], [itemId], [subItemId], [amount], [transactionCatagory], [partyId], [transactionType], [bankId], [remarks], [chequeStatus], [lastModify]) VALUES (3, CAST(0x1B3C0B00 AS Date), 9, 0, CAST(14.00 AS Decimal(18, 2)), N'income', 2, N'cash', 0, N'', NULL, CAST(0x0000A6B600C0E4DB AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([userInfoId], [name], [email], [phone], [image], [designation], [entryDate], [loginId]) VALUES (1, N'yeasin', N'yeasinmahi72@yahoo.com', NULL, N'0.jpg', NULL, CAST(0xBE3B0B00 AS Date), 12)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Login] ADD  CONSTRAINT [DF_Login_tbl_type]  DEFAULT ('d') FOR [type]
GO
ALTER TABLE [dbo].[Login] ADD  CONSTRAINT [DF_Login_tbl_status]  DEFAULT ('u') FOR [status]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transaction_lastModify]  DEFAULT (getdate()) FOR [lastModify]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_image]  DEFAULT ('0.jpg') FOR [image]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_entryDate]  DEFAULT (getdate()) FOR [entryDate]
GO
ALTER TABLE [dbo].[SubItem]  WITH CHECK ADD  CONSTRAINT [FK_SubItem_Item] FOREIGN KEY([itemId])
REFERENCES [dbo].[Item] ([itemId])
GO
ALTER TABLE [dbo].[SubItem] CHECK CONSTRAINT [FK_SubItem_Item]
GO
/****** Object:  Trigger [dbo].[UpdateChequeStatus]    Script Date: 08-Nov-16 1:58:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[UpdateChequeStatus]
on [dbo].[Transactions]
after insert
as 
Declare @TransactionId int,
@TransactionType varchar(6)

Set @TransactionId = (select top 1 transactionId from inserted)
Set @TransactionType = (select top 1 transactionType from inserted)

if(@TransactionType='cheque')
begin
update transactions set chequeStatus = 'Pending' where transactionId = @TransactionId
end

GO
USE [master]
GO
