.MyDropDownMenu {

    background: #000000;
}
.MyDropDownMenu a {
    color: #fff !important;
}
.MyDropDownMenu a:hover {
    color: #000 !important;
}
.min-height {
    min-height: 10px;
}
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    font-size: 15px;
    position: absolute;
    margin-left: 2px;
}
ul
{
    list-style-type: none;
}